OCR_ENGINE=paddleocr_vl_hps
OCR_ENGINE_URL=http://127.0.0.1:13005
OCR_ENGINE_TIMEOUT_SECONDS=600
OCR_ENGINE_MAX_RETRIES=3
OCR_ENGINE_RETRY_BASE_SECONDS=1
OCR_ENGINE_MODEL=PaddleOCR-VL-1.6
OCR_ENGINE_VERSION=3.6
SANDBOX_EXCHANGE_DIR=/var/lib/monkeyocr-sandbox
SANDBOX_TIMEOUT_SECONDS=300
SANDBOX_POLL_INTERVAL_SECONDS=0.1
SANDBOX_CPU_LIMIT=2
SANDBOX_MEMORY_LIMIT=4g
SANDBOX_PIDS_LIMIT=128
SANDBOX_TMPFS_SIZE=256m
HPS_API_PORT=13005
HPS_PIPELINE_NAME=PaddleOCR-VL-1.6
HPS_PADDLEX_VERSION=3.6
HPS_SDK_DIR=paddlex_hps_PaddleOCR-VL-1.6_sdk
HPS_MAX_CONCURRENT_INFERENCE_REQUESTS=8
HPS_MAX_CONCURRENT_NON_INFERENCE_REQUESTS=32
HPS_INFERENCE_TIMEOUT=600
HPS_UVICORN_WORKERS=2
HPS_DEVICE_ID=0
HPS_SHM_SIZE=4gb
HPS_TRITON_BASE_IMAGE=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlex/hps:paddlex3.6-gpu
HPS_VLM_IMAGE=ccr-2vdh3abv-pub.cnc.bj.baidubce.com/paddlepaddle/paddleocr-genai-vllm-server:latest-nvidia-gpu
PADDLEOCR_REF=211989f046cc1878460f9e65574690c00a127a1a
