VITE_GATEWAY_BASE_URL=http://localhost:13000
VITE_MAX_UPLOAD_BYTES=104857600
VITE_API_TIMEOUT_MS=30000
VITE_UPLOAD_PART_SIZE_BYTES=8388608
VITE_SSE_RETRY_MS=2000
VITE_JOB_POLL_INTERVAL_MS=5000
VITE_ARTIFACT_REFRESH_MS=600000
