.git
.idea
.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/node_modules
**/dist
backend/dotenv/**/.env.*
backend/infrastructure/paddleocr-hps/source
backend/infrastructure/paddleocr-hps/runtime
