BUILD_HTTP_PROXY=
BUILD_HTTPS_PROXY=
BUILD_NO_PROXY=localhost,127.0.0.1,::1,localaddress,.localdomain
BUILD_PYPI_INDEX_URL=https://mirrors.ivolces.com/pypi/simple
BUILD_GOPROXY=https://goproxy.cn,direct
BUILD_GOSUMDB=sum.golang.google.cn
