LOGGING_SERVICE_NAME=monkeyocr-backend
LOGGING_SERVICE_PORT=13004
LOGGING_SERVICE_URL=http://logging-service:13004
LOGGING_SERVICE_TOKEN=monkeyocr-dev-logging-token
LOGGING_SERVICE_TIMEOUT_SECONDS=2
LOGGING_QUEUE_SIZE=4096
LOGGING_SERVICE_DATA_DIR=/var/lib/logging-service
LOGGING_KAFKA_TOPIC=monkeyocr.events.logging.v1
LOGGING_KAFKA_BROKERS=kafka:9092
LOGGING_MAX_BATCH_SIZE=512
LOGGING_BATCH_FLUSH_MS=500
